:root {
  --color-gray: #999;

  --color-active: var(--color-gray);
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas: "header header" "sidebar main" "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  font-family: system-ui;
}

pre {
  white-space: pre-wrap;
  font-size: 100%;
  font-family: inherit;
}

input,
select {
  font-family: inherit;
  font-size: 100%;
}

button {
  padding: 0.25em;
}

select {
  background-color: transparent;
  border: none;
}

[role="list"] {
  list-style-type: none;
}

.app-header {
  grid-area: header;
  display: flex;
  gap: 0.25em;
  padding: 0.25em;
}

.app-header > [type="search"] {
  flex-grow: 1;
}

.app-sidebar {
  grid-area: sidebar;
  padding: 0.25em;
  width: 200px;
  min-width: 15ch;
  max-width: min-content;
  resize: horizontal;
  overflow-x: hidden;
}

.file-list {
  max-height: 100%;
  overflow-y: scroll;
}

.file-list__item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  user-select: none;
}

.file-list__item:focus {
  text-overflow: initial;
}

.file-list__item.active {
  background-color: var(--color-active);
}

.file-list__item.focus {
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.main {
  position: relative;
  grid-area: main;
  padding: 0.25em;
  overflow-x: auto;
}

.main > pre {
  outline: none;
  min-height: 100%;
}

.app-footer {
  grid-area: footer;
  text-align: center;
  padding: 0.25em;
}

.center-self {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
